#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

//#define NAV 1
//#define NUM 2
//#define SYM 3
//#define WMM 4

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                                      &kp W     &kp F     &kp P     &kp B                           &kp J     &kp L     &kp U     &kp Y
                &kp MINUS &kp R       &kp S     &kp T     &kp H     &kp RET                         &kp BSPC  &kp N     &kp A     &kp I     &kp O    &kp SQT
                &none     &key_repeat &kp C     &kp G     &kp D     &kp K     &kp C_MUTE &kp C_MUTE &kp V     &kp M     &kp COMMA &kp DOT   &kp FSLH &none
                                                          &mo NUM   &kp SPACE &mo NAV    &mo SYM    &kp E     &mo WMM
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        nav_layer {
            bindings = <
                                      &kp LG(X) &kp LG(C) &kp LG(V) &kp LG(Y)                       &none     &none     &none     &none
                &kp LG(Z) &sk LCTRL   &sk LALT  &sk LGUI  &sk LSHFT &kp RET                         &kp BSPC  &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &kp SQT
                &none     &key_repeat &kp C     &kp G     &kp D     &kp K     &kp C_MUTE &kp C_MUTE &none     &none     &none     &none     &none     &none
                                                          &mo NUM   &kp SPACE &mo NAV    &mo SYM    &kp E     &mo WMM
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        num_layer {
            bindings = <
                                &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &kp N1  &trans  &trans  &trans  &trans
                                                &mo NUM &kp SPACE &mo NAV   &mo SYM &trans  &mo WMM
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        wmm_layer {
            bindings = <
                                &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &kp N2  &trans  &trans  &trans
                                                &mo NUM &kp SPACE &mo NAV   &mo SYM &trans  &mo WMM
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };
    };
};
