#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                                  &kp W     &kp E     &kp R     &kp T
                &kp Q    &kp A    &kp S     &kp D     &kp F     &kp G
                &kp SPACE &kp Z    &kp X    &kp C     &kp V     &kp B    &kp Y
                                                      &kp U    &kp I     &kp O
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };
    };
};
